.container-rules {
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 2rem 0 25rem 0;
}

.title-rules {
  font-size: 30px;
  color: #21888e;
  font-weight: 800;
}

.subtitle-rules {
  font-size: 15px;
  margin-left: 3px;
  color: #3f3f3f;
}

.container-collapse-rules {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.label-rule-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label-rule {
  color: #21888e;
  font-weight: 600;
  background-color: #fff6ec;
  padding: 17px;
  border-bottom: 2px solid #21888e;
  cursor: pointer;
  transition: 0.2s;
}

.label-rule:hover {
  background-color: #21888e;
  color: #fff6ec;
  transition: 0.2s;
}

.content-rule {
  background-color: #fff6ec;
  padding: 0 50px;
  margin: -1px 0px -1px 0px;
  border-bottom: 2px solid #21888e;
  height: 0;
  overflow: hidden;
  transition: height 0.4s ease, padding 0.4s ease;
}

.content-rule.expanded {
  height: auto;
  padding: 50px;
  overflow: hidden;
}

.list-rule {
  margin-bottom: 15px;
}

.rule-title {
  font-weight: 600;
}

@media (min-width: 768px) {
  .container-rules {
    margin-top: 3rem;
    padding: 30px;
  }

  .title-rules {
    font-size: 60px;
  }

  .subtitle-rules {
    font-size: 20px;
  }
}
