.quiz-page-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 5rem;
}

.quiz-title {
  color: #21888e;
}

.quiz-tag-container {
  display: flex;
  gap: 10px;
}

.alert {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  width: 4.5rem;
  height: 1.2rem;
  border-radius: 5px;
  color: red;
}
