.container-navbar {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1000;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.container-navbar.scrolled {
  background-color: #FFF6EC;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.image-navbar {
  width: 7rem;
  cursor: pointer;
}

.options {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: 3rem;
}

.menuItemButton {
  border: none;
  color: #21888e;
  cursor: pointer;
  background-color: transparent;
}

.active {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .image-navbar {
    width: 10rem;
  }

  .options {
    gap: 6rem;
  }

  .menuItemButton {
    font-size: 20px;
  }
}
